/*Main Colors*/
:root {
    --blue: #0000ff;
    --red: #ff0000;
    --green: #00ff00;
    --yellow: #ff0;
    --pink: #f0f;
    --purple: #800080;
    --bworn: #a52a2a;
    --orange: #ffa500;
    --aqua: #0ff;
    --black: #000000;
    --white: #ffffff;
    --gray: #818180;
}


.text-blue {
    color: var(--blue);
}
.text-red {
    color: var(--red);
}
.text-green {
    color: var(--green);
}
.text-yellow {
    color: var(--yellow);
}
.text-pink {
    color: var(--pink);
}
.text-purple {
    color: var(--purple);
}
.text-brown {
    color: var(--brown);
}
.text-orange {
    color: var(--orange);
}
.text-aqua {
    color: var(--aqua);
}
.text-black {
    color: var(--black);
}
.text-white {
    color: var(--white);
}
.text-gray {
    color: var(--gray);
}